<div class="row">
    <div class="large-12 columns">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="/">
                            Geek Camp Week End
                        </a>
                    </h1>
                </li>
            </ul>

            <section class="top-bar-section">
                <ul class="left">
                    <li><a href="##inscription">INSCRIPTION</a></li>
                </ul>
            </section>
        </nav>
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <div class="hide-for-small">
            <div id="featured">
                <img src="/static/images/affiche-geekcamp2015.png" alt="slide image">

            </div>
        </div>
    </div>
</div><br>

<div class="row">
    <div class="large-12 columns">
        <div class="panel radius">
            <div class="row">
                <div class="large-6 small-6 columns">

                    <h4>Description</h4>
                    <hr/>
                    <h5 class="subheader">
                        Le Geek Camp week end est une rencontre entre geeks.
                        Présentations, lightning talks, séances de code, jeux, discussions, vin, bières et barbecues
                        étaient au programme des éditions 2013 et 2014 !
                    </h5>

                </div>
                <div class="large-6 small-6 columns">
                    <h5 class="subheader">
                        L'évènement est payant mais son prix est libre.
                        Pour information le prix moyen par personne pour les années précédentes était de 30 euros. Il
                        comprend :
                    </h5>
                    <ul>
                        <li>la location de la salle des fêtes de RUFFIAC</li>
                        <li>la location de la tireuse à bière et l'achat de la bière</li>
                        <li>6 repas (barbecue, repas végétariens, traiteur)</li>
                        <li>l'assurance responsabilité civile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <div class="panel radius">

            <h4 id="inscription">Inscription</h4>
            <hr/>
            <h5 class="subheader">
                L'évènement est limité à 30 personnes. Il reste {{ 30 - index.users.length }} places.
            </h5>
            <form  ng-submit="index.addUser()">
                <div class="row">
                    <div class="large-12 columns">
                        <label>Nom
                            <input ng-model="index.username" type="text" placeholder="George Abitbol"/>
                        </label>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="large-12 columns">
                        <label>J'y vais en voiture et j'ai
                            <select>
                                <option value="1">1 place de libre</option>
                                <option value="2">2 places de libre</option>
                                <option value="3">3 places de libre</option>
                                <option value="4">4 places de libre</option>
                            </select>
                        </label>
                    </div>
                </div>-->
                <div class="row">
                    <div class="large-12 columns">
                        <input ng-model="index.sure" id="checkbox1" type="checkbox"><label for="checkbox1">J'ai compris que mon inscription
                        entraine des dépenses, et je suis certain de venir</label>
                    </div>
                </div>
                <button type="submit">Je viens au Geek Camp 2015 !</button>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel radius">

            <h4>Soutien</h4>
            <hr/>
            <h5 class="subheader">
                Je veux soutenir Okiwi et acheter ma place (Pour information le prix moyen par personne pour les années précédentes était de 30 euros)
            </h5>

            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="TPYAFNHNYEMWA">
                <input style="width: 37px; height: 23px; " type="image"
                       src="https://www.paypal.com//fr_FR/i/logo/PayPal_mark_37x23.gif" border="0" name="submit"
                       alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
                <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1"
                     height="1">
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="row">


            <div class="large-3 small-6 columns">
                <img src="/static/images/gcwe-2013-1.jpg"/>
                <h6 class="panel">conférences</h6>
            </div>

            <div class="large-3 small-6 columns">
                <img src="/static/images/gcwe-2013-2.jpg"/>
                <h6 class="panel">barbecue</h6>
            </div>

            <div class="large-3 small-6 columns">
                <img src="/static/images/gcwe-2013-3.jpg"/>
                <h6 class="panel">détente</h6>
            </div>

            <div class="large-3 small-6 columns">
                <img src="/static/images/gcwe-2013-4.jpg"/>
                <h6 class="panel">jeux</h6>
            </div>


        </div>
    </div>
</div>

<footer class="row">
    <div class="large-12 columns">
        <hr>
        <p>
            Geek camp week end application
            &mdash; version 0.0.1
            &mdash; réalisé par <a href="http://okiwi.org">Okiwi</a>
            &mdash; licence <a href="http://www.wtfpl.net/txt/copying/">WTFPL</a>
        </p>
    </div>
</footer>